#media {
  padding: 50px 0;
  margin-top: 50px;
  background-color: rgb(219, 196, 61);
}
#media .media-click {
  border: none;
  border-radius: 10%;
}
#media .media-click:hover {
  border: none;
}
#media .fa-brands {
  padding: 50px;
  display: inline-block;
  font-size: 100px;
  text-align: center;
  transform: translate(0, 0);
}
#media .fa-instagram:hover {
  color: #ff68a2;
}
#media .fa-twitter:hover {
  color: #91d3ff;
}
#media .fa-facebook-f:hover {
  color: #7790ff;
}
#media .fa-linkedin:hover {
  color: #647daa;
}

@media screen and (max-width: 575px) {
  #media {
    margin: 50px 15%;
    border-radius: 3px;
  }
}
