.home .content {
  position: relative;
  background: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assests/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.home .content .name-tag,
.home .content .bio-tag {
  position: absolute;
  width: 100%;
}
.home .content .name-tag {
  top: 40%;
}
.home .content .bio-tag {
  top: 55%;
}
.home .content h1 {
  color: white;
  display: block;
  letter-spacing: 17px;
  width: 100%;
  padding: 0 5px;
  text-align: center;
  font-size: 56px;
  font-weight: 100;
  text-transform: uppercase;
}
.home .content h5 {
  color: white;
  text-align: center;
  letter-spacing: 15px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  display: block;
}
@media screen and (max-width: 513px) {
  .home .content h1 {
    font-size: 40px;
    letter-spacing: 9px;
  }
  .home .content h5 {
    font-size: 13px;
    letter-spacing: 7px;
    font-weight: 600;
  }
  .home .content {
    background-image: url(https://res.cloudinary.com/zaid/image/upload/v1606365865/Myblog-1/11_h3qw95.jpg);
  }
}
